# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/config/google-app-credentials.json

# dependencies
/node_modules
/client/node_modules

# dependencies
/node_modules
/.pnp
.pnp.js

# production
/client/build


# shhh
/constants/secrets.js
/src/constants/secrets.js